# APP ID
NEXT_PUBLIC_APP_ID='171bf57f-22ef-462d-b346-42646b7726cb'
# APP API key
NEXT_PUBLIC_APP_KEY='app-cJWJ1Iv4iUY4w7oDET8BpPsw'
# API url prefix
NEXT_PUBLIC_API_URL='http://tolls.agicloud.top:50002/v1'
